<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
        <title>
            Sample App
        </title>
    </head>
    <body>
        <div class="header"><h1>Hello World Wide Web</h1></div>


        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    <p>
      <h3>
      This is your starting point for building web applications!
      </h3>
    </p>

    </body>
</html>
